<a href="<%= "#{event_path(event)}?user_access_token=#{CGI.escape @access_token}" %>">
<%= image_tag event.avatar.url %>
<h1><%= event.name %></h1>
<h6><%= event.short_desc %></h6>
<p><%= event.time.strftime("%B %d") %></p>
<p class="list-address"><%= event.club %></p>
<p class="ui-li-count"><%= "#{event.registers.count} will go" %></p>
</a>