<div data-role="page" id="index-page">
    <div class="hidden" id="access_token" style="display:none"><%= @access_token %></div>
    <div class="hideen" id="addon_token" style="display:none"><%= @addon_token %></div>
    <div data-role="header">
        <h1>ShakeIt</h1>
    </div>

    <div data-role="content">
        <div data-role="fieldcontain">
            <select class="select-button" data-mini="true">
                <option value="all">All Cities</option>
                <%= @cities.each do |city| %>
                    <option value="<%= city %>"><%= city %></option>
                <% end %>
            </select>
        </div>

        <ul data-role="listview" data-divider-theme="b" id="events_list">
            <%= render 'events' %>
        </ul>
        <% if @events.total_pages > @events.current_page %>
            <div data-role="fieldcontain" class="more-button">
                <button id="button_more" data-theme="a">MORE</button>
            </div>
        <% end %>
    </div>
</div>